/*ATRIBUTOS GENERALES*/
body {

  --primary: #01b7ff;
  --secondary: #01b7ff;
  margin: 0px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

* {
  font-family: sans-serif;
}

button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: none;
  margin: 2px;
  /*color: var(--primary);*/
  background: white;
  border: 1px solid var(--primary);
  height: 28px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in 0.2s all;
  padding: 0 8px 0 8px;
  font-weight: bold;
  min-width: 150px;
}

button:hover {
  background: var(--primary);
  color: white;

}

div#main {
  padding: 10px;
}

/*input {
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 4px;
  font-size: 12px;
}*/

h1 {
  background: var(--primary);
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0px;
  padding: 15px;
}

h2 {
  margin-block-start: 0px;
  margin-block-end: 10px;
  font-size: 20px;
  color: var(--primary);
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: white;
}

/*PÁGINA PRINCIPAL*/
div.cabecera {
  display: inline-block;
  /*background-color: red;*/
  justify-content: center;

}

div.movie {
  display: inline-block;
  /*flex-direction: column;
  flex-wrap: wrap;*/
  /*flex: 1;*/
  width: 200px;
  box-shadow: 2px 2px 7px grey;
  margin: 5px;
  /*grid-gap: 10px;*/
  /*background-color: var(--primary);*/
  padding: 10px;
  /*align-content: center;*/
  /*background-color: #ccc;*/
}

div.movie:hover div.title {
  transition: ease-in 0.2s all;
  color: var(--primary);
}


div.movie div.movie-img {
  /*grid-area: img;*/

  width: 200px;
  height: auto;
  min-height: 200px;
  cursor: pointer;

  /* background-color: green;*/
}



div.movie div.movie-img img {
  width: 100%;
  height: 16em;

}

div.movie div.title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  margin-top: 10px;


  height: 65px;
}

div.movie div.subtitle {
  text-align: center;
  cursor: pointer;
}


/*PÁGINA DETALLE*/
.tituloDetalle {
  background: var(--primary);
  color: white;

  text-transform: uppercase;
  font-size: 20px;
  margin: 15px 0;
  padding: 15px;
}

.contenedorDetalle {
  box-shadow: 2px 2px 7px grey;

  /*background-color: pink;*/

  display: grid;
  grid-template-areas:
    /*"title title title title"*/
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "actions actions actions actions";
}

.contenedorDetalleServicios{
  box-shadow: 2px 2px 7px grey;

  /*background-color: pink;*/

  display: grid;
  grid-template-areas:
    /*"title title title title"*/
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "actions actions actions actions";


}



#miniaturaShow {
  /*width: 20em;*/
  width: 200px;
  height: auto;
  min-height: 200px;
  padding: 10px;
}


/*div.contenedor {
  display: grid;
  background-color: red;
  grid-template-areas:
    "title title title title"
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "contentTitle contentDescription contentDescription contentDescription"
    "actions actions actions actions";
  /*padding: 5px;
}*/

div.contenedor div.contentTitle {
  /*padding: 0 15px 15px 15px;*/
  padding: 15px 50px;
  grid-area: contentTitle;

  /*background-color: pink;*/
  font-weight: bold;

}

div.elementoTitulo {
  padding: 7px;
}

div.elementoDescription {
  padding: 7px;
}

div.contenedor div.contentDescription {
  padding: 15px;
  grid-area: contentDescription;


  /*background-color: yellow;*/
}


div.actions {
  grid-area: actions;
  padding: 10px;


  /*margin-left: auto;
  margin-right: auto;*/
}



/*div.field {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 12px;
}*/


/*MENÚS DESPLEGABLES*/

/*#navegador {
  /*background-color: var(--primary);
  padding: 0px 0 0px 0;
  margin: 10px;
  /*padding: 0.5em;
}*/
#navegador ul{
  padding: 0;
  margin-left: 12px;
}
#navegador li {
  /*margin: 0px 5px;*/
  /*background-color: #9933cc;*/
  /*width: 12%;*/
  min-width: 150px;
  

  /*list-style-type: none;*/
  position: relative;

  /*-webkit-font-smoothing: antialiased;*/
  display: inline-block;
  /*text-decoration: none;*/
  /*color: var(--primary);*/
  background: white;
  border: 1px solid var(--primary);
  height: 28px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  /*transition: ease-in 0.2s all;
  padding: 0 8px 0 8px;*/
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 0 0 14px;
  margin: 2px;

  
}
#navegador li:hover, #navegador li:active {
  color: white;
  text-decoration: none;
  background-color: var(--primary);
}

#subseccion1, #subseccion2 {
  position: absolute;
  top: 100%;
  left: 0px;
  /*background-color: #41338b;*/
  /*font: normal 0.8em arial;*/
  padding: 0.2em 0.5em;
  display: none;
}

/*#navegador li:hover {
  background-color: #990033;
}*/

/*#navegador li a:link, #navegador li a:visited {
  /*color: #feffe4;
  /*text-decoration: none;
}*/



.borrar {
  clear: both;
}
