@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat.ttf");
}



/*ATRIBUTOS GENERALES*/
body {
  --primary: #01b7ff;
  --secondary: #01b7ff;
  margin: 0px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  background-color: aliceblue;
  
}



* {
  font-family: 'Montserrat', sans-serif;

}

button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: none;
  margin: 2px;
  background: white;
  border: 1px solid var(--primary);
  height: 28px;
  font-size: 14px;
  min-width: 150px;

  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in 0.2s all;
  padding: 0 8px 0 8px;
  font-weight: bold;
  border-radius: 3px;
  transition: ease-in 0.2s all;
  box-shadow: 2px 2px 7px lightgrey;
  

}

button:hover {
  background: var(--primary);
  color: white;
  box-shadow: 2px 2px 7px grey;
  transition: ease-in 0.2s all;
}

div#main {
  margin: 0 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}


/*PÁGINA PRINCIPAL*/
div.cabecera img {
  /*display: inline-block;*/
  justify-content: center;
  width: 100%;
  height: auto;
  cursor: pointer;
}



div.gridGeneral{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1fr;




  /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
  /*grid-template-columns:auto auto;*/
  /*grid-auto-columns: max-content;*/
  /*grid-auto-rows: 400px;
  grid-auto-columns: 400px;*/
}





div.movie {
  display: inline-block;
  /*flex-wrap: wrap;*/
  /*flex-direction: column;*/
  border-radius: 5px;
  width: 1/3fr;
  height: 1fr;
  margin: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 7px lightgrey;
  cursor: pointer;
  transition: ease-in 0.2s all;


}

div.movie:hover{
  box-shadow: 2px 2px 7px grey;
  transition: ease-in 0.2s all;
}
div.movie:hover div.title {
  transition: ease-in 0.2s all;
  color: var(--primary);

}

div.movie div.movie-img {
  /*width: 1fr;
  height: 1fr;*/

}

div.movie div.movie-img img {
  width: 100%;
  border-radius: 5px;
  height: 24rem;
  
}

div.movie div.title {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*padding: 10px 0px;*/
}

div.movie div.subtitle {
  text-align: center;
  cursor: pointer;
  
  font-size: 2rem;
  height: 3rem;
  /*background-color: pink;*/
  display: flex;
  align-items: center;
  justify-content: center;
}


/*PÁGINA DETALLE*/
.detalleevento{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tituloDetalle {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
  display: block;
}

.contenedorDetalle {
  box-shadow: 2px 2px 7px grey;
  border-radius: 5px;
  background-color: white;
  display: grid;
  column-gap: 0;
  grid-template-areas:
    "img contentTitle contentDescription contentDescription contentDescription contentDescription"
    "img contentTitle contentDescription contentDescription contentDescription contentDescription"
    "img contentTitle contentDescription contentDescription contentDescription contentDescription"
    "img contentTitle contentDescription contentDescription contentDescription contentDescription"
    "actions actions actions actions actions actions";
    transition: ease-in 0.2s all;

}

#miniaturaShow {
  grid-area: img;
  /*width: 20em;*/
  /*width: 200px;*/
  width: 20rem;
  height: auto;
  min-height: 200px;
  padding: 1rem 0 0 1rem;
  margin: 0;
  

}

div .contenedorDetalle .contentTitle {
  padding: 3rem 0px 3rem 0;
  grid-area: contentTitle;
}

div.elementoTitulo {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;



}


div.contenedorDetalle div.contentDescription {
  padding: 3rem 0px 3rem 0;
  grid-area: contentDescription;

}

div.elementoDescription {
  padding: 1rem 0px;
  font-size: 1.5rem;




}

.contenedorDetalleServicios {
  box-shadow: 2px 2px 7px grey;
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-areas:
    "img img contentDescription contentDescription contentDescription"
    "img img contentDescription contentDescription contentDescription"
    "img img contentDescription contentDescription contentDescription"
    "img img contentDescription contentDescription contentDescription";
    transition: ease-in 0.2s all;

}

#miniaturaShowServicios {
  grid-area: img;
  width: 400px;
  height: auto;
  min-height: 200px;
  padding: 10px;
}

.descServicios {
  grid-area: contentDescription;
  font-size: larger;
  text-align: justify;
  padding: 40px 20px;

}

div.actions {
  grid-area: actions;
  padding: 10px;
}

/*MENÚS DESPLEGABLES*/
#navegador ul {
  padding: 0;
  display: grid;
  
  /*justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  align-content: center;*/
  /*padding-left: 100px;
  padding-right: 100px;*/


}
#navegador .listabotones{
  /*grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;*/
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;


}

#navegador li {
  border-radius: 3px;
  position: relative;
  /*display: inline-block;*/
  background: white;

  border: 1px solid var(--primary);
  height: 6rem;
  /*width: 100%;*/

  font-size: xx-large;
  text-transform: uppercase;
  cursor: pointer;
  
  font-weight: bold;
  color: black;
  text-align: center;
  /*padding: 1%;*/
  box-shadow: 2px 2px 7px lightgrey;
  display: flex;
  flex-grow: 1;
  flex-basis: 20rem;

  justify-content: center;
  align-items: center;

  



  /*padding: 0 0 17px;*/

  

}

#navegador li:hover, #navegador li:active {
  color: white;
  text-decoration: none;
  background-color: var(--primary);
  box-shadow: 2px 2px 7px grey;
  transition: ease-in 0.2s all;
}


#subseccion1, #subseccion2, #subseccion3, #subseccion4, #subseccion5, #subseccion6, #subseccion7{
  /*position: absolute;*/
  /*padding: 0.2em 0.5em;*/
  display: none;
  transition: ease-in 0.2s all;

}

#subseccion1, #subseccion2, #subseccion3 { 
  position: absolute;
  top: 100%;
  left: 0px;
  padding-top: 5%;
  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/
}

#subseccion4{
  position: absolute;
  top: 100%;
  left: 90%;
  padding-top: 5%;

  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/

}

#subseccion5{
  position: absolute;
  top: 210%;
  left: 0px;
  padding-top: 5%;

  /*/padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/
}

#subseccion6 {
  position: absolute;
  top: 210%;
  left: 90%;
  padding-top: 5%;

  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/

}

#subseccion7 {
  position: absolute;
  top: 320%;
  padding-top: 5%;
  left: 0;
  /*left: 70%;*/
  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/

}

.botonmenu{
  /*height: 75px;*/
  height: 5rem;

  font-size: x-large;
  /*padding: 20px 0px;*/
  /*margin: 15px;*/

  text-transform: uppercase;
  font-weight: bold;
  min-width: 1fr;
  border-radius: 3px;
  transition: ease-in 0.2s all;
  /*min-width: 400px;*/
  min-width: 25rem;
  box-shadow: 2px 2px 7px lightgrey;
  /*background-color: pink;*/

}

.botonmenu:hover{
  box-shadow: 2px 2px 7px grey;

}

.botondetallecarrera{
  min-width: 300px;
  min-height: 75px;
  font-size: x-large;
  
}

.listasubapartados{
/*  gap: 0px;*/
gap: 1.25rem;

}




.borrar {
  clear: both;
}

.formulariocontacto p{
  font-size: medium;
}



.htmlinscripciones{
  display: block;
  /*max-height:90%; max-width:90%;*/
  width: 100%;
  height: 1900px;
  /*width: fit-content;*/
}


/*Específico pantallas grandes*/
@media only screen and (min-width: 990px) {
  div.gridGeneral{
    grid-template-columns: 1fr 1fr 1fr 1fr;

    /*column-gap: 1rem;*/
    gap: 1rem;
    

  }

  
  div.movie{
    width: 200px;

  }
  div.movie div.movie-img {
    width: 200px;
    height: auto;
    
    min-height: 200px;
  }
  

  #navegador .listabotones{
    /*grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;*/
    /*gap: 10px;
    padding-left: 15px;*/
    gap: 0.5rem;
    padding-left: 15px;


  }
  #navegador li{
    /*font-size: large;
    height: 28px;
    min-width: 230px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;*/
    flex-basis: 12rem;
    font-size: large;
    height: 3rem;




  }
  .botonmenu{
    height: 40px;
    font-size: 14px;
    padding: 0 8px 0 8px;
    margin: 0px;
    min-width: 200px;


  }
  div.movie div.movie-img img {
    height: 16em;
  }
  
#subseccion1,  #subseccion3, #subseccion4, #subseccion5, #subseccion6, #subseccion7{
  /*position: absolute;*/
  padding: 0.2em 0.5em;
  display: none;
  transition: ease-in 0.2s all;
  

}



#subseccion3 { 
  position: absolute;
  top: 90%;
  left: 0px;
  padding-top: 10%;
  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/
}

#subseccion4{
  position: absolute;
  top: 90%;
  left: 90%;
  padding-top: 10%;
  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/

}

#subseccion5{
  position: absolute;
  top: 200%;
  left: 0px;
  padding-top: 10%;

  /*/padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/
}

#subseccion6 {
  position: absolute;
  top: 200%;
  left: 90%;
  padding-top: 10%;

  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/

}

#subseccion7 {
  position: absolute;
  top: 310%;
  left:0;
  padding-top: 10%;

  /*left: 70%;*/
  /*padding: 0.2em 0.5em;*/
  /*display: none;
  transition: ease-in 0.2s all;*/

}

.listasubapartados{
  gap: 0.75rem;
}

.htmlinscripciones{
  width: 1050px;
  height: 690px;
  /*width: fit-content;*/
}

.botondetallecarrera{
  height: 35px;
  font-size: medium;
  min-height: 35px;
}

div.movie div.title {
  font-size: larger;
  height: 70px;
  padding: 10px 0px;
}


div.movie div.subtitle {
  text-align: center;
  cursor: pointer;
  
  
  font-size: 1rem;
  height: 2rem;

}

div .contenedorDetalle .contentTitle {
  padding: 2rem 0 2rem 0;
  grid-area: contentTitle;
  /*background-color: pink;*/
}

div.elementoTitulo {
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  /*background-color: palevioletred;*/

}

div.contenedorDetalle div.contentDescription {
  padding: 2rem 0 2rem 0;
  grid-area: contentDescription;
}
div.elementoDescription {
  padding: 1rem;
  font-size: large;

}

#miniaturaShow {
  grid-area: img;
  /*width: 20em;*/
  /*width: 200px;*/
  width: 15rem;
  height: auto;
  min-height: 200px;
  padding: 1rem 0 0 1rem;
  margin: 0;
  

}



}